html, 
body,
.app {
  height: 100vh;
  background: #eee;
  padding:1em;

}

.messages {
  height: 640px;
  overflow-y: scroll;

}
.message__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left:0;
  right:1em;
  z-index:200;
}

.mess {
  width:fit-content;
  padding-bottom: 40px;
}

.progress__bar {
  margin: 0.3em 0 0 0 !important;
}

.menu {
  padding-bottom: 2em;
}

.emojipicker {
  position:absolute;
}
